/* Color themes:

blue: #007a99

orange: #8f5927


*/

html,
body {
  overflow: hidden;
  min-width: 320px;
}
#main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #007a99;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
#main-header,
#main-header a {
  color: #FFF;
}
#main-header .brand {
  display: inline-block;
  padding-top: 8px;
  vertical-align: top;
  width: 224px;
}
#main-header .brand img {
  width: 100%;
  height: auto;
  display: block;
}
#main-header .h-row {
  height: 40px;
  position: relative;
}
#menu-icon,
#menu-close {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
#main-menu {
  display: block;
  position: fixed;
  z-index: 110;
  top: 0;
  bottom: 0;
  left: -370px;
  width: 92%;
  max-width: 360px;
  background-color: #554b41;
  box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
  -webkit-transition: left .3s;
  transition: left .3s;
}
#main-menu .main-menu-header {
  background-color: #453D35;
  height: 40px;
}
#main-menu ul {
  font-size: 16px;
}
#main-menu ul li a {
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 40px;
  color: rgba(255, 255, 255, .8);
  border-bottom: 1px solid #453D35;
  text-decoration: none;
}
#main-menu ul li a:hover {
  background-color: rgba(255, 255, 255, .05);
  text-decoration: none;
}
#main-menu ul li a .fa {
  width: 25px;
}
#main-header #menu-backdrop {
  display: block;
  position: fixed;
  z-index: 109;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: rgba(0, 0, 0, .5);
}
#main-header.menu-shown #menu-backdrop {
  right: 0;
  opacity: 1;
}
#main-header.menu-shown #main-menu {
  left: 0;
}
#finder {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  background: #007a99;
  width: 40px;
}
#finder .fa {
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  display: block;
  float: left;
  cursor: default;
}
#finder .finder-input-container {
  display: none;
}
#finder input {
  background-color: transparent;
  color: #FFF;
  padding: 0;
  margin: 0;
  height: 34px;
  line-height: 34px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
#finder.in-focus {
  width: 100%
}
#finder.in-focus .finder-input-container {
  display: block;
  margin-left: 40px;
  margin-right: 8px;
}
.white {
  background: #FFF;
}

/* TABBER ***************/

.tabber {
  display: block;
  height: 40px;
  font-size: 0px;
  border-bottom: 1px solid #DDD;
}
.tabber a {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  border-bottom: 3px solid transparent;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  color: #999;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
.tabber a:hover {
  background-color: rgba(0, 0, 0, .05);
  color: #222;
}
.tabber a.active {
  color: #222;
  border-bottom-color: #007a99;
}

/* tabber-content */

.tabber-content {
  position: relative;
  overflow: hidden;
  min-height: 200px;
  width: 100%;
  -webkit-transition: height .2s;
  -ms-transition: height .2s;
  transition: height .2s;
}
.tabber-content > .frame {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
}
.tabber-content > .frame:first-child {
  left: 0%;
}
.tabber-content .frame.anim {
  -webkit-transition: left .3s;
  -ms-transition: left .3s;
  transition: left .3s;
}
.tabber-content.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 0;
  width: auto;
}
.tabber-content.fixed > .frame {
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
}
.tabber + .tabber-content {
  margin-top: 8px;
}

/* TABBER MAIN NAVIGATION ***************************************/

.tabber.main-navigation {
  border-bottom-color: transparent;
}
#main-header .tabber.main-navigation a {
  color: rgba(255, 255, 255, .7);
}
#main-header .tabber.main-navigation a:hover {
  color: #FFF;
}
#main-header .tabber.main-navigation a.active {
  color: #FFF;
  border-bottom-color: #FFF;
}
.main-navigation .num {
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  font-size: 8px;
  line-height: 12px;
  height: 12px;
  width: 12px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: #D36060;
  color: #FFF;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
#main-article {
  top: 80px;
}
.btn .fa {
  margin-right: 0.5em;
}

/* CATEGORIES */

#shell #categories-frame {
  background-color: #FFF;
}
.menudinamico a {
  display: block;
  padding: 0 16px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #DDD;
  text-decoration: none;
}
.menudinamico a:hover {
  text-decoration: none;
  opacity: .7;
}
.menudinamico > ul > li > a {
  font-weight: 700;
}
.menudinamico ul ul a:before {
  content: '·';
  display: inline-block;
  width: 16px
}
.menudinamico ul ul ul a {
  color: #888;
}
.menudinamico ul ul ul a:before {
  margin-left: 16px;
}

/* GRID SYSTEM ******************/

.wrap:before,
.wrap:after,
.grid:before,
.grid:after {
  content: "";
  display: table;
}
.wrap:after,
.grid:after {
  clear: both;
}
.wrap,
.grid {
  zoom: 1;
}
.wrap {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.wrap.x2 {
  padding-left: 16px;
  padding-right: 16px;
}
.wrap.double {
  padding-left: 32px;
  padding-right: 32px;
}
.grid li {
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.grid {
  margin-left: -5px;
  margin-right: -5px;
}
.grid li {
  float: left;
  width: 25%;
}

/* PAPER **************************/

.paper {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

/* header-section **********************************/

.header-section {
  padding: 16px 0;
  line-height: 30px;
}
.header-section h2 {
  display: inline-block;
  font-size: 18px;
}
.header-section .btn {
  margin-top: 4px;
}
.header-section .btn.btn-link {
  padding-right: 0;
}

/* product-list ********************************/

.product-thumbnail {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.product-list-element {
  margin-bottom: 16px;
}
.product-list-element a.product-list-viewDetail {
  display: block;
  position: relative;
  color: #666;
  text-decoration: none;
  padding-bottom: 87px;
  height: 418px;
  overflow: hidden;
  background-color: #6E838F;
}
.sale-product {
  position: absolute;
  top: -3px;
  left: -3px;
  display: block;
}
.product-list-element a .product-list-summary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 8px;
  font-size: 12px;
}
.product-list-element a .product-list-summary h3 {
  font-size: 14px;
  color: #222;
}
.product-list-element a .product-list-summary h4 {
  font-style: italic;
}
.price {
  color: #5F839C;
  margin: 0;
  font-weight: 700;
}
.price strike {
  color: #aaa;
}
.product-list-element .btn {
  width: 100%;
  border-radius: 0;
  display: block;
  border-top-color: #DDD
}

/* news-list ***************/

.news-list-element {
  margin-bottom: 16px;
}
.news-list-element a {
  display: block;
  padding: 8px;
  color: #777;
  text-decoration: none
}
.news-list-element a:hover {
  text-decoration: none
}
.news-list-element .thumb {
  background-color: #DDD;
  width: 64px;
  height: 64px;
  overflow: hidden;
  float: left;
}
.news-list-element .thumb img {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.news-list-element .text {
  margin-left: 80px;
  font-size: 11px;
}
.news-list-element .text h3 {
  font-size: 13px;
  color: #222;
}
.news-list-element .text p {
  margin: 0;
}

/* main-footer *****************************************************/

#main-footer {
  line-height: 40px;
  height: 40px;
  background-color: #007a99;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .3);
  text-align: center;
  font-size: 10px;
  margin-top: 16px;
  overflow: hidden;
}
#main-footer,
#main-footer a {
  color: #FFF;
}

/* form *******************************/

form {
  padding: 16px;
}
form h3 {
  font-weight: 700;
  margin-bottom: 16px;
}
form .required-advert {
  font-size: 10px;
  color: #999;
}
form p.forgot-pass {
  margin: 0;
}
form p.forgot-pass .btn {
  font-weight: normal;
}

/* CART ********************/

.empty-cart {
  padding: 16px;
}
.th-description {
  min-width: 40%
}
table th.t-tool,
table td.t-tool {
  min-width: 0;
  padding-right: 0;
}
a.quit-product {
  color: #D00;
}
tr.tfoot-total {
  background-color: #554b41;
  color: #FFF;
}
table,
tr.tfoot-total,
table.cart-options tr:last-child {
  border-bottom: none;
}
.cart-options .fa {
  font-size: 18px;
}
.cart-options-td-icon {
  text-align: center;
}
table.cart-options th,
table.cart-options td {
  min-width: 0;
}
table.cart-options td.td-select {
  min-width: 70%;
}

/* DETAIL *****************************************/

.detail {}
.detail-summary {
  padding: 32px 0 16px;
}
.detail-summary figure {
  float: left;
  width: 40%;
  max-width: 250px;
  position: relative;
  overflow: hidden;
}
.detail-summary figcaption {
  float: left;
  width: 60%;
  padding-left: 16px
}
.detail-summary figcaption h1 {
  font-size: 18px;
  line-height: 1.2em
}
.detail-summary figcaption h3 {
  font-style: italic;
  font-size: 11px;
  color: #777
}
.detail-summary figcaption .price {
  padding: 16px 0;
  font-size: 20px;
}
.detail-summary figcaption .price strike {
  font-size: 13px;
  margin-left: 1em;
}
.detail-ranking {
  font-size: 11px;
}
.ranking a {
  text-decoration: none;
  line-height: 24px;
  display: inline-block;
}
.ranking,
.ranking a {
  color: #ae9a86;
}
.detail-info {
  font-size: 9px;
  line-height: 1.1em;
  color: #777;
  border-top: 1px solid #DDD;
  padding-top: 8px;
}
.tabber-content header h3 {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  margin-bottom: 8px;
}
.opinions li {
  padding: 16px 0;
  border-bottom: 1px solid #DDD;
}
.opinions li img {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
}
.opinions li .text {
  margin-left: 64px;
  min-height: 48px;
}
.opinions li .text p {
  margin: 0
}
.opinions li .text .name {
  font-weight: 700
}
.form-opinion {
  padding: 16px 0;
  border-bottom: 1px solid #DDD;
}
.form-opinion .ranking {
  display: inline-block;
  margin-left: 8px;
}
.form-opinion .legal {
  font-size: 11px;
  line-height: 1.1em;
}
.form-opinion .legal label {
  padding: 0;
}
.videos iframe {
  width: 100% !important;
  margin-bottom: 16px;
}

/* MEDIA QUERIES ************************************************************************************************************/


/* Tablet Portrait */

@media only screen and (max-width:800px) {
  .grid li {
    width: 33.33333333%;
  }
}

/* Tablet Mini Landscape */

@media only screen and (max-width:660px) {
  .product-list-element a.product-list-viewDetail {
    height: 350px;
  }
}

/* Phone Landscape */

@media only screen and (max-width:490px) {
  .grid li {
    width: 50%;
  }
  .product-list-element a.product-list-viewDetail {
    height: 323px;
  }
}

/* Phone Portrait */

@media only screen and (max-width:330px) {
  .product-list-element a.product-list-viewDetail {
    height: 280px;
  }
}